* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #836a19, #f77c5a);
  color: rgb(245, 230, 230);
  font-family: "Truculenta", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(245, 230, 230);
}

form button {
  color: #f77c5a;
  background: rgb(245, 230, 230);
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  background: #f77c5a;
  color: rgb(245, 230, 230);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: rgb(245, 230, 230);
    color: #836a19;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s   ease;
}

.todo li  {
    flex: 1;
}

.trash-btn, complete-btn {
    background:  #836a19;
    color: rgb(245, 230, 230);
    border: none;
    padding: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.complete-btn {
    background: #f77c5a;
}

.todo-item {
    padding: 0rem 0.5rem;
}

fa-trash, fa-check  {
    pointer-events: none;
}

.complete  {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem)  rotateZ(20deg);
    opacity: 0;
}

select {
    appearance: none;
    border: none;
    background: rgb(245, 230, 230);
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #836a19;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
   background: #f77c5a;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: rgb(245, 230, 230);
    color: #f77c5a;
}